gymnasium[classic-control]==0.29.1
swig==4.2.1
gymnasium[box2d]==0.29.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.1
torchvision==0.17.1
torchaudio==2.2.1
matplotlib==3.7.5
scipy==1.10.1
